*{
    font-family: Roboto,serif;
}
#baner{
    background-color: crimson;
    color:white;
    text-align: center;
    letter-spacing: 5px;
    word-spacing: 30px;
    padding:10px;
}
i{
    margin-right:30px;
}
#glowny1{
    background-color: mistyrose;
    height:300px;
    padding:10px;
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right:50px;
    border: 1px solid crimson
}
#glowny1 > img{
    float:left;
    height:100%;
}
#glowny2{
    background-color: snow;
    height:450px;
    width:21%;
    margin:1%;
    text-align: center;
    border: 1px solid crimson;
    position: relative;
}

#glowny2 > img{
    width:90%;
}
#glowny2{
    float:left;
}
#glowny3{
    clear:both;
    text-align: left;
}
footer{
    background-color: crimson;
    clear:both;
    color:white;
}
img{
    max-width: 100%;
}
h4{
    font-size:180%;
    text-align: center;
    color:crimson;
}
a{
    color:white;
}
